extends default

block content
    div.container
        div.news_block
            each news in news_list
                div.news
                    img(src=`data:image/jpg;base64, ${news.imgSrc}`)
                    h2.title
                        | #{news.title}
                    a.read_more(href=`/article?id=${news.title}`) Read More
                hr
